.PHPSmartHints-completion {
  padding-left: 22px;
  position: relative;
}
.PHPSmartHints-completion:before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
  color: white;
  box-sizing: border-box;
}
.PHPSmartHints-completion-localvar:before {
  content: "V";
  background: #218434;
}
.PHPSmartHints-completion-phpvar:before {
  content: "V";
  background: #217184;
}
.PHPSmartHints-completion-phpkeyword:before {
  content: "K";
  background: #302184;
}
.PHPSmartHints-completion-phpconstant:before {
  content: "C";
  background: #692184;
}
.PHPSmartHints-completion-phpfunction:before {
  content: "F";
  background: #842156;
}

/*toolbar icon styles*/
#PHPSmartHints-icon {
    background-image: url(../smarthints_icon.svg);
}
#PHPSmartHints-icon.active {
    background-image: url(../smarthints_icon_active.svg);
}
