<div class="php-smarthints modal">
    <div class="modal-header">
         <ul class="nav nav-tabs">
            <li class="active"><a href="#function-filter" data-toggle="tab">{{strings.SETTINGS_DIALOG_FUNCTION_FILTER}}</a></li>
            <li><a href="#php-settings" data-toggle="tab">{{strings.SETTINGS_DIALOG_PHP_SETTINGS}}</a></li>
        </ul>
    </div>
    <div class="modal-body">
        <div class="tab-content">
             <div class="tab-pane active" id="function-filter">
                <label>
                    <input type="checkbox" class="php-filter-all"/>
                    {{strings.SETTINGS_DIALOG_TOGGLE_ALL}}
                 </label>
                 <hr/>
                <fieldset>
                    {{#arr}}
                    <label>
                        <input type="checkbox" id="php-{{filter}}" class="php-filter" {{checked}}/>
                        {{filterName}}
                    </label>
                    {{/arr}}
                </fieldset>
            </div>
            <div class="tab-pane" id="php-settings">
                <h3>{{strings.SETTINGS_DIALOG_UNUSED_TAB}}</h3>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn primary" data-button-id="close">{{strings.SETTINGS_DIALOG_CLOSE}}</button>
        <button class="btn" type="button" id="btnApplyProject">{{strings.SETTINGS_DIALOG_APPLY}}</button>
    </div>
</div>
